* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #111;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #A31621;
  padding: 1rem 2rem;
  color: white;
}

header .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav a {
    color: white;
    margin-left: 80px;
    padding: 0.5rem 1rem;
    border:3px solid transparent;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s, border-bottom 0.3s;
}

header nav a:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
    transform: scale(1.1);
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 6rem 2rem;
  background: white;
}

.hero-text {
    max-width: 50%;
    margin-left: 8rem;
}

.hero-text h1 {
    font-size: 5rem;
    color: #0f0f0f;
}

.hero-text h2 {
    font-size: 2.5rem;
    color: #A31621;
    margin: 1rem 0;
}

.hero-text h2:hover {
    color: #880000;
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background: #A31621;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background 0.3s, color 0.3s ease;
}

.btn:hover {
    background: #60030a;
    transform: translateY(-3px);
    color: #fff;
}


.hero-img img {
    margin-top: 60px;
    margin-right: 80px;
    width: 500px;
    height: 100%;
    background-color: #60030a;
    background-blend-mode: color;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.hero-img img:hover {
  transform: scale(1.25);
  
}

.about {
    display: wrap;
    flex-wrap:nowrap;
    background: #1c1c1c;
    color: white;
    padding: 8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img img {
    display: wrap;
    width: 500px;
    height: auto;
    padding:10px;
    margin-left: auto;
}

.about-text {
    max-width: 80%;
    text-align: justify;
    padding: 10px;
    margin-right: auto;
    margin-left: 50px;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s ease;
}

.projects {
  display: wrap;
  padding: 4rem 2rem;
  background: white;
  margin-right: 60px;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.divider {
  width: 100px;
  height: 4px;
  background: #A31621;
  margin: 0 auto;
  border-radius: 2px;
  margin-bottom: 50px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.project {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 6px;
    width: 530px;
    text-align: left;
}

.project img {
    width: 500px;
    height: 400px;
    border-radius: 6px;
}

.project img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.project h3 {
    margin: 1rem 0 0.5rem;
}

/* Contact Section */
.contact {
    padding: 10px 50px;
    background-color:#1c1c1c
}

.contact-info {
  max-width: 500px;
  margin: 0 auto;
  text-align:center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

.contact p {
  margin-bottom: 10px;
  font-size: 1.1rem;
  text-align:center;
  color: #ffffff;
}

.socials {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.socials a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #880000;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socials a:hover {
  background:#60030a;
  transform: translateY(-3px);
}

.socials a i {
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: #A31621;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
}

